# Data Science Tools and Ecosystem

**Objectives**  
+ List popular languages for data science
+ List of libraries used by data scientist
+ Evaluating arthematic expression in python
+ Converting minutes to hours

In this notebook, Data Science Tools and Ecosystem are summerized

Some of the popular languages that data scientists use are:  
1. Python  
2. SQL  
3. R

Some of the commonly used libraries used by Data Scientists include: 
1. Numpy  
2. Pandas  
3. Pytorch  
4. Matplotlib

|Data Science Tools|
|-|
|RStudio|
|Apache Spark|
|Tensorflow|

### Below are few examples of evaluating arthematic expressions in Python

In [1]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60

In [2]:
200/60

3.3333333333333335

## Author  
Chaithanya P